AccessGrid/wsdl/AccessGrid_Types.xsd

<xs:schema targetNamespace="http://www.accessgrid.org/v3.0"
	xmlns:tns="http://www.accessgrid.org/v3.0"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
        elementFormDefault="qualified" 
	attributeFormDefault="unqualified">
   
    <xs:complexType name="AGNetworkServiceDescription">
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="description" type="xs:string"/>
        <xs:element name="uri" type="xs:string"/>
     	<xs:element name="version" type="xs:string"/>
        <xs:element name="capabilities" minOccurs="0" maxOccurs="unbounded" type = "tns:Capability"/>
        <xs:any minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="NetworkLocation">
      <xs:sequence>
        <xs:element name="id" type="xs:string"/>
	<xs:element name="privateId" type="xs:string"/>
        <xs:element name="host" type="xs:string"/>
        <xs:element name="port" type="xs:int"/>
	<xs:element name="type" type="xs:string"/>
        <xs:element name="profile" nillable="true" type="tns:ProviderProfile"/>
        <xs:any minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ProviderProfile">
      <xs:sequence>
        <xs:element name="name" nillable="true" type="xs:string"/>
        <xs:element name="location" nillable="true" type="xs:string"/>
        <xs:any minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="UnicastNetworkLocation">
      <xs:sequence>
        <xs:element name="id" type="xs:string"/>
	<xs:element name="privateId" type="xs:string"/>
        <xs:element name="host" type="xs:string"/>
        <xs:element name="port" type="xs:int"/>
	<xs:element name="type" type="xs:string"/>
        <xs:element name="profile" nillable="true" type="tns:ProviderProfile"/>
        <xs:any minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MulticastNetworkLocation">
      <xs:sequence>
        <xs:element name="id" type="xs:string"/>
	<xs:element name="privateId" type="xs:string"/>
        <xs:element name="host" type="xs:string"/>
        <xs:element name="port" type="xs:int"/>
	<xs:element name="type" type="xs:string"/>
        <xs:element name="profile" nillable="true" type="tns:ProviderProfile"/>
        <xs:element name="ttl" type="xs:int"/>
        <xs:any minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ConnectionDescription">
      <xs:sequence>
        <xs:element name = "id" type = "xs:string"/>
        <xs:element name = "name" type = "xs:string"/>
        <xs:element name = "description" type = "xs:string"/>
        <xs:element name = "uri" type = "xs:string"/>
        <xs:any minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="StreamDescription">
      <xs:sequence>
        <xs:element name = "id" type = "xs:string"/>
        <xs:element name = "name" type = "xs:string"/>
        <xs:element name = "location" type = "xs:anyType"/>
        <xs:element name = "description" nillable="true" type = "xs:string"/>
        <xs:element name = "capability" minOccurs="0" maxOccurs="unbounded" type = "tns:Capability"/>
        <xs:element name = "encryptionFlag" type = "xs:int"/>
        <xs:element name = "encryptionKey" nillable="true" type = "xs:string"/>
        <xs:element name = "static" type = "xs:boolean"/>
        <xs:element name = "networkLocations" minOccurs="0" maxOccurs="unbounded" type = "xs:anyType"/>
        <xs:any minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>


    <xs:complexType name="VenueDescription">
      <xs:sequence>
        <xs:element name="id" type="xs:string"/>
        <xs:element name="uri" type="xs:string" nillable="true"/>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="description" type="xs:string"/>
        <xs:element name="encryptMedia" type="xs:int"/>
        <xs:element name="encryptionKey" type="xs:string" nillable="true"/>
        <xs:element name="connections" minOccurs="0" maxOccurs="unbounded" type="tns:ConnectionDescription"/>
        <xs:element name="streams" minOccurs="0" maxOccurs="unbounded" type="tns:StreamDescription"/>
        <xs:any minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
	
    <xs:complexType name="ClientProfile">
      <xs:sequence>
	<xs:element name="profileType" type="xs:string"/>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="email" type="xs:string"/>
	<xs:element name="phoneNumber" type="xs:string"/>
	<xs:element name="publicId" type="xs:string"/>
	<xs:element name="location" type="xs:string"/>
	<xs:element name="venueClientURL" type="xs:string"/>
	<xs:element name="homeVenue" type="xs:string"/>
	<xs:element name="privateId" type="xs:string"/>
	<xs:element name="distinguishedName" type="xs:string"/>
	<xs:element name="techSupportInfo" type="xs:string"/>
	<xs:element name="connectionId" type="xs:string"/>
	<xs:element name="gmtoffset" type="xs:int"/>
	<xs:element name="beacon" type="xs:int"/>
	<xs:element name="audio" type="xs:int"/>
	<xs:element name="video" type="xs:int"/>
	<xs:element name="display" type="xs:int"/>
	<xs:element name="lat" type="xs:float"/>
	<xs:element name="long" type="xs:float"/>
        <xs:any minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="VenueState">
      <xs:sequence>
        <xs:element name="uniqueId" type="xs:string"/>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="description" type="xs:string"/>
        <xs:element name="uri" type="xs:string"/>
        <xs:element name="eventLocation" nillable="true" type="xs:string"/>
        <xs:element name="textLocation" nillable="true" type="xs:string"/>
        <xs:element name="dataLocation" nillable="true" type="xs:string"/>
        <xs:element name="services" minOccurs="0" maxOccurs="unbounded" type="tns:ServiceDescription"/>
        <xs:element name="connections" minOccurs="0" maxOccurs="unbounded" type="tns:ConnectionDescription"/>
        <xs:element name="clients" minOccurs="0" maxOccurs="unbounded" type="tns:ClientProfile"/>
        <xs:element name="data" minOccurs="0" maxOccurs="unbounded" type="tns:DataDescription"/>
        <xs:element name="applications" minOccurs="0" maxOccurs="unbounded" type="tns:ApplicationDescription"/>
        <xs:any minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>


    <xs:complexType name="SharedAppState">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string" />
	<xs:element minOccurs="0" maxOccurs="1" name="id" type="xs:string" />
	<xs:element minOccurs="0" maxOccurs="1" name="mimeType" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="uri" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="data" type="tns:AppDataDescription" />
        <xs:any minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Capability">
      <xs:sequence>
        <xs:element name="role" nillable="true" type="xs:string"/>
        <xs:element name="type" nillable="true" type="xs:string"/>
        <xs:element name="codec" nillable="true" type="xs:string"/>
        <xs:element name="rate" nillable="true" type="xs:int"/>
        <xs:element name="serviceId" nillable="true" type="xs:string"/>
        <xs:element name="channels" nillable="true" type="xs:int"/>
        <xs:element name="host"  minOccurs="0" nillable="true" type="xs:string"/>
        <xs:element name="locationType" minOccurs="0" nillable="true" type="xs:string"/>
        <xs:element name="port" minOccurs="0"  nillable="true" type="xs:int"/>
        <xs:any minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ApplicationDescription">
      <xs:sequence>
        <xs:element name="id" type="xs:string"/>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="description" type="xs:string"/>
        <xs:element name="uri" type="xs:string"/>
        <xs:element name="mimeType" type="xs:string"/>
        <xs:any minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
 
    <xs:complexType name="ApplicationCmdDescription">
      <xs:sequence>
        <xs:element name="appDesc" type="tns:ApplicationDescription"/>
        <xs:element name="verb" nillable="true" type="xs:string"/>
        <xs:element name="cmd" nillable="true" type="xs:string"/>
        <xs:element name="profile" type="tns:ClientProfile"/>
        <xs:any minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AppDataDescription">
      <xs:sequence>
        <xs:element name="appId" type="xs:string"/>
        <xs:element name="key" type="xs:string"/>
        <xs:element name="value" type="xs:string"/> 
        <xs:any minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
    

    <xs:complexType name="ServiceDescription">
      <xs:sequence>
        <xs:element name="id" type="xs:string"/>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="description" type="xs:string"/>
        <xs:element name="uri" type="xs:string"/>
        <xs:element name="mimeType" type="xs:string"/>
        <xs:any minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DataDescription">
      <xs:sequence>
        <xs:element name="id" type="xs:string"/>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="description" nillable="true" type="xs:string"/>
        <xs:element name="uri" nillable="true" type="xs:string"/>
        <xs:element name="status" nillable="true" type="xs:string"/>
        <xs:element name="size" nillable="true" type="xs:int"/>
        <xs:element name="checksum" nillable="true" type="xs:string"/>
        <xs:element name="owner" nillable="true" type="xs:string"/>
        <xs:element name="type" nillable="true" type="xs:string"/>
        <xs:element name="lastModified" nillable="true" type="xs:string"/>
		<xs:element name="objectType" nillable="true" minOccurs="0" type="xs:string"/>
		<xs:element name="hierarchyLevel" nillable="true" minOccurs="0" type="xs:int"/>
		<xs:element name="parentId" nillable="true" minOccurs="0" type="xs:string"/>
		<xs:any minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="DirectoryDescription">
      <xs:sequence>
        <xs:element name="id" type="xs:string"/>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="description" nillable="true" type="xs:string"/>
        <xs:element name="uri" nillable="true" type="xs:string"/>
        <xs:element name="status" nillable="true" type="xs:string"/>
        <xs:element name="size" nillable="true" type="xs:int"/>
        <xs:element name="checksum" nillable="true" type="xs:string"/>
        <xs:element name="owner" nillable="true" type="xs:string"/>
        <xs:element name="type" nillable="true" type="xs:string"/>
        <xs:element name="lastModified" nillable="true" type="xs:string"/>
        <xs:element name="parentId" nillable="true" type="xs:string"/>
	<xs:element name="Level" nillable="true" type="xs:int"/>
        <xs:element name="location" nillable="true" type="xs:string"/>
        <xs:element name="dataContainer" nillable="false" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
	<xs:element name="objectType" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
    

    <xs:complexType name="FileDescription">
      <xs:sequence>
        <xs:element name="id" type="xs:string"/>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="description" nillable="true" type="xs:string"/>
        <xs:element name="uri" nillable="true" type="xs:string"/>
        <xs:element name="status" nillable="true" type="xs:string"/>
        <xs:element name="size" nillable="true" type="xs:int"/>
        <xs:element name="checksum" nillable="true" type="xs:string"/>
        <xs:element name="owner" nillable="true" type="xs:string"/>
        <xs:element name="type" nillable="true" type="xs:string"/>
        <xs:element name="lastModified" nillable="true" type="xs:string"/>
	<xs:element name="objectType" nillable="true" type="xs:string"/>
	<xs:element name="Level" nillable="true" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>


    <xs:complexType name="AuthorizationPolicy">
    </xs:complexType>

    <xs:complexType name="Preferences">
    </xs:complexType>

    <xs:complexType name="AGServiceDescription">
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="uri" type="xs:string"/>
        <xs:element name="capabilities" minOccurs="0" maxOccurs="unbounded" type="tns:Capability"/>
        <xs:element name="resource" nillable="true" type="tns:ResourceDescription"/>
        <xs:element name="packageFile" type="xs:string"/>
        <xs:any minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AGServicePackageDescription">
      <xs:sequence>
        <xs:element name = "name" type = "xs:string"/>
        <xs:element name = "description" type = "xs:string"/>
        <xs:element name = "packageFile" type = "xs:string"/>
        <xs:element name = "resourceNeeded" type = "xs:string"/>
        <xs:any minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AGServiceManagerDescription">
      <xs:sequence>
        <xs:element name = "name" type = "xs:string"/>
        <xs:element name = "uri" type = "xs:string"/>
        <xs:any minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="NodeConfigDescription">
      <xs:sequence>
        <xs:element name = "name" type = "xs:string"/>
        <xs:element name = "type" type = "xs:string"/>
        <xs:any minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AppParticipantDescription">
      <xs:sequence>
        <xs:element name = "appId" type = "xs:string"/>
        <xs:element name = "clientProfile" nillable="true" type = "tns:ClientProfile"/>
        <xs:element name = "status" type = "xs:string"/>
        <xs:any minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ValueParameter">
      <xs:sequence>
        <xs:element name = "name" type = "xs:string"/>
        <xs:element name = "value" type = "xs:string"/>
        <xs:element name = "type" type = "xs:string"/>
        <xs:any minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TextParameter">
      <xs:sequence>
        <xs:element name = "name" type = "xs:string"/>
        <xs:element name = "value" type = "xs:string"/>
        <xs:element name = "type" type = "xs:string"/>
        <xs:any minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RangeParameter">
      <xs:sequence>
        <xs:element name = "name" type = "xs:string"/>
        <xs:element name = "value" type = "xs:int"/>
        <xs:element name = "type" type = "xs:string"/>
        <xs:element name = "low" type = "xs:int"/>
        <xs:element name = "high" type = "xs:int"/>
        <xs:any minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="OptionSetParameter">
      <xs:sequence>
        <xs:element name = "name" type = "xs:string"/>
        <xs:element name = "value" type = "xs:string"/>
        <xs:element name = "type" type = "xs:string"/>
      	<xs:element name = "options" minOccurs="0" maxOccurs="unbounded" type = "xs:any"/>
        <xs:any minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="EventDescription">
      <xs:sequence>
        <xs:element name = "channelId" type = "xs:string"/>
        <xs:element name = "senderId" type = "xs:string"/>
        <xs:element name = "data" type = "xs:anyType"/>
        <xs:element name = "eventType" type = "xs:string"/>
        <xs:any minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ResourceDescription">
      <xs:sequence>
        <xs:element name = "name" type = "xs:string"/>
        <xs:any minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Role">
      <xs:sequence>
        <xs:element name = "name" type = "xs:string"/>
        <xs:element name = "subjects" minOccurs="0" maxOccurs="unbounded" type = "xs:any"/>
      	<xs:element name = "requireDefaultId" type = "xs:int"/>
        <xs:any minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Action">
      <xs:sequence>
        <xs:element name = "name" type = "xs:string"/>
      	<xs:element name = "roles" minOccurs="0" maxOccurs="unbounded" type = "tns:Role"/>
        <xs:any minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Subject">
      <xs:sequence>
        <xs:element name = "name" type = "xs:string"/>
        <xs:element name = "auth_type" type = "xs:string"/>
        <xs:element name = "auth_data" type = "xs:string"/>
      	<xs:element name = "id" type = "xs:string"/>
        <xs:any minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="X509Subject">
      <xs:sequence>
        <xs:element name = "name" type = "xs:string"/>
        <xs:element name = "auth_type" type = "xs:string"/>
        <xs:element name = "auth_data" type = "xs:string"/>
      	<xs:element name = "id" type = "xs:string"/>
        <xs:any minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BeaconSource">
      <xs:sequence>
        <xs:element name = "cname" type = "xs:string"/>
        <xs:element name = "ssrc" type = "xs:long"/>
        <xs:any minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BeaconSourceData">
      <xs:sequence>
        <xs:element name = "ssrc" type = "xs:long"/>
        <xs:element name = "total_lost" type = "xs:int"/>
        <xs:element name = "fract_lost" type = "xs:int"/>
        <xs:element name = "jitter" type = "xs:int"/>
        <xs:any minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

 </xs:schema>

