AccessGrid/wsdl/AGNodeServiceInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:agtk="http://www.accessgrid.org/v3.0"
  xmlns:agns="http://www.accessgrid.org/v3.0/nodeservice"
  targetNamespace="http://www.accessgrid.org/v3.0/nodeservice">

      <types>
      <schema targetNamespace="http://www.accessgrid.org/v3.0/nodeservice" 
              elementFormDefault="qualified" 
	      attributeFormDefault="unqualified" 
              xmlns="http://www.w3.org/2001/XMLSchema">

          <xsd:element name="AddServiceManagerRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="serviceManagerUrl" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="AddServiceManagerResponse">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="AddStreamRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="argname" type="agtk:StreamDescription" />
              </xsd:sequence>
            </xsd:complexType>
    	  </xsd:element>

          <xsd:element name="AddStreamResponse">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetCapabilitiesRequest">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetCapabilitiesResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="capabilities" type="agtk:Capability" />
              </xsd:sequence>
            </xsd:complexType>
	  </xsd:element>

          <xsd:element name="GetConfigurationsRequest">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetConfigurationsResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="argname" type="agtk:NodeConfigDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetServiceManagersRequest">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetServiceManagersResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="serviceManagerList" type="agtk:AGServiceManagerDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetServicesRequest">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetServicesResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="serviceList" type="agtk:AGServiceDescription" />
              </xsd:sequence>
            </xsd:complexType>
    	  </xsd:element>


          <xsd:element name="IsValidRequest">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="IsValidResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="isvalid" type="xsd:integer" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="LoadConfigurationRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="nodeConfig" type="agtk:NodeConfigDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="LoadConfigurationResponse">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="MigrateNodeConfigRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="nodeConfig" type="agtk:NodeConfigDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="MigrateNodeConfigResponse">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="NeedMigrateNodeConfigRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="argname" type="agtk:NodeConfigDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="NeedMigrateNodeConfigResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="needMigrate" type="xsd:integer" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="RemoveServiceManagerRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="serviceManagerUrl" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="RemoveServiceManagerResponse">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="RemoveStreamRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="argname" type="agtk:StreamDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="RemoveStreamResponse">
            <xsd:complexType>
            </xsd:complexType>
	  </xsd:element>

          <xsd:element name="SetServiceEnabledRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="enabledFlag" type="xsd:integer" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="SetServiceEnabledResponse">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="SetServiceEnabledByMediaTypeRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="mediaType" type="xsd:string" />
                <xsd:element minOccurs="1" maxOccurs="1" name="enableFlag" type="xsd:integer" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="SetServiceEnabledByMediaTypeResponse">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="SetStreamsRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="streamDescriptionList" type="agtk:StreamDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="SetStreamsResponse">
            <xsd:complexType>
            </xsd:complexType>
	  </xsd:element>

          <xsd:element name="StopServicesRequest">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="StopServicesResponse">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="StoreConfigurationRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="nodeConfig" type="agtk:NodeConfigDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="StoreConfigurationResponse">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

  	  <xsd:element name="GetVersionRequest">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetVersionResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="version" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>


      </schema>
      </types>



    <message name="AddServiceManagerRequest">
	<part name="parameters" element="agns:AddServiceManagerRequest"/>
    </message>
    <message name="AddServiceManagerResponse">
	<part name="parameters" element="agns:AddServiceManagerResponse"/>
    </message>
    <message name="AddStreamRequest">
	<part name="parameters" element="agns:AddStreamRequest"/>
    </message>
    <message name="AddStreamResponse">
	<part name="parameters" element="agns:AddStreamResponse"/>
    </message>
    <message name="GetCapabilitiesRequest">
	<part name="parameters" element="agns:GetCapabilitiesRequest"/>
    </message>
    <message name="GetCapabilitiesResponse">
	<part name="parameters" element="agns:GetCapabilitiesResponse"/>
    </message>
    <message name="GetCapabilities3Request">
	<part name="parameters" element="agns:GetCapabilities3Request"/>
    </message>
    <message name="GetCapabilities3Response">
	<part name="parameters" element="agns:GetCapabilities3Response"/>
    </message>
    <message name="GetConfigurationsRequest">
	<part name="parameters" element="agns:GetConfigurationsRequest"/>
    </message>
    <message name="GetConfigurationsResponse">
	<part name="parameters" element="agns:GetConfigurationsResponse"/>
    </message>
    <message name="GetServiceManagersRequest">
	<part name="parameters" element="agns:GetServiceManagersRequest"/>
    </message>
    <message name="GetServiceManagersResponse">
	<part name="parameters" element="agns:GetServiceManagersResponse"/>
    </message>
    <message name="GetServicesRequest">
	<part name="parameters" element="agns:GetServicesRequest"/>
    </message>
    <message name="GetServicesResponse">
	<part name="parameters" element="agns:GetServicesResponse"/>
    </message>
    <message name="GetServices3Request">
	<part name="parameters" element="agns:GetServices3Request"/>
    </message>
    <message name="GetServices3Response">
	<part name="parameters" element="agns:GetServices3Response"/>
    </message>
    <message name="IsValidRequest">
	<part name="parameters" element="agns:IsValidRequest"/>
    </message>
    <message name="IsValidResponse">
	<part name="parameters" element="agns:IsValidResponse"/>
    </message>
    <message name="LoadConfigurationRequest">
	<part name="parameters" element="agns:LoadConfigurationRequest"/>
    </message>
    <message name="LoadConfigurationResponse">
	<part name="parameters" element="agns:LoadConfigurationResponse"/>
    </message>
    <message name="MigrateNodeConfigRequest">
	<part name="parameters" element="agns:MigrateNodeConfigRequest"/>
    </message>
    <message name="MigrateNodeConfigResponse">
	<part name="parameters" element="agns:MigrateNodeConfigResponse"/>
    </message>
    <message name="NeedMigrateNodeConfigRequest">
	<part name="parameters" element="agns:NeedMigrateNodeConfigRequest"/>
    </message>
    <message name="NeedMigrateNodeConfigResponse">
	<part name="parameters" element="agns:NeedMigrateNodeConfigResponse"/>
    </message>
    <message name="RemoveServiceManagerRequest">
	<part name="parameters" element="agns:RemoveServiceManagerRequest"/>
    </message>
    <message name="RemoveServiceManagerResponse">
	<part name="parameters" element="agns:RemoveServiceManagerResponse"/>
    </message>
    <message name="RemoveStreamRequest">
	<part name="parameters" element="agns:RemoveStreamRequest"/>
    </message>
    <message name="RemoveStreamResponse">
	<part name="parameters" element="agns:RemoveStreamResponse"/>
    </message>
    <message name="RemoveStream3Request">
	<part name="parameters" element="agns:RemoveStream3Request"/>
    </message>
    <message name="RemoveStream3Response">
	<part name="parameters" element="agns:RemoveStream3Response"/>
    </message>
    <message name="SetServiceEnabledRequest">
	<part name="parameters" element="agns:SetServiceEnabledRequest"/>
    </message>
    <message name="SetServiceEnabledResponse">
	<part name="parameters" element="agns:SetServiceEnabledResponse"/>
    </message>
    <message name="SetServiceEnabledByMediaTypeRequest">
	<part name="parameters" element="agns:SetServiceEnabledByMediaTypeRequest"/>
    </message>
    <message name="SetServiceEnabledByMediaTypeResponse">
	<part name="parameters" element="agns:SetServiceEnabledByMediaTypeResponse"/>
    </message>
    <message name="SetStreamsRequest">
	<part name="parameters" element="agns:SetStreamsRequest"/>
    </message>
    <message name="SetStreamsResponse">
	<part name="parameters" element="agns:SetStreamsResponse"/>
    </message>
    <message name="SetStreams3Request">
	<part name="parameters" element="agns:SetStreams3Request"/>
    </message>
    <message name="SetStreams3Response">
	<part name="parameters" element="agns:SetStreams3Response"/>
    </message>
    <message name="StopServicesRequest">
	<part name="parameters" element="agns:StopServicesRequest"/>
    </message>
    <message name="StopServicesResponse">
	<part name="parameters" element="agns:StopServicesResponse"/>
    </message>
    <message name="StoreConfigurationRequest">
	<part name="parameters" element="agns:StoreConfigurationRequest"/>
    </message>
    <message name="StoreConfigurationResponse">
	<part name="parameters" element="agns:StoreConfigurationResponse"/>
    </message>
    <message name="GetVersionRequest">
	<part name="parameters" element="agns:GetVersionRequest"/>
    </message>
    <message name="GetVersionResponse">
	<part name="parameters" element="agns:GetVersionResponse"/>
    </message>



    <portType name="AGNodeService">
    <operation name="AddServiceManager">
        <input message="agns:AddServiceManagerRequest"/>
        <output message="agns:AddServiceManagerResponse"/>
    </operation>
    <operation name="AddStream">
        <input message="agns:AddStreamRequest"/>
        <output message="agns:AddStreamResponse"/>
    </operation>
    <operation name="GetCapabilities">
        <input message="agns:GetCapabilitiesRequest"/>
        <output message="agns:GetCapabilitiesResponse"/>
    </operation>
     <operation name="GetCapabilities3">
        <input message="agns:GetCapabilities3Request"/>
        <output message="agns:GetCapabilities3Response"/>
    </operation>
    <operation name="GetConfigurations">
        <input message="agns:GetConfigurationsRequest"/>
        <output message="agns:GetConfigurationsResponse"/>
    </operation>
    <operation name="GetServiceManagers">
        <input message="agns:GetServiceManagersRequest"/>
        <output message="agns:GetServiceManagersResponse"/>
    </operation>
    <operation name="GetServices">
        <input message="agns:GetServicesRequest"/>
        <output message="agns:GetServicesResponse"/>
    </operation>
    <operation name="GetServices3">
        <input message="agns:GetServices3Request"/>
        <output message="agns:GetServices3Response"/>
    </operation>
    <operation name="IsValid">
        <input message="agns:IsValidRequest"/>
        <output message="agns:IsValidResponse"/>
    </operation>
    <operation name="LoadConfiguration">
        <input message="agns:LoadConfigurationRequest"/>
        <output message="agns:LoadConfigurationResponse"/>
    </operation>
    <operation name="MigrateNodeConfig">
        <input message="agns:MigrateNodeConfigRequest"/>
        <output message="agns:MigrateNodeConfigResponse"/>
    </operation>
    <operation name="NeedMigrateNodeConfig">
        <input message="agns:NeedMigrateNodeConfigRequest"/>
        <output message="agns:NeedMigrateNodeConfigResponse"/>
    </operation>
    <operation name="RemoveServiceManager">
        <input message="agns:RemoveServiceManagerRequest"/>
        <output message="agns:RemoveServiceManagerResponse"/>
    </operation>
    <operation name="RemoveStream">
        <input message="agns:RemoveStreamRequest"/>
        <output message="agns:RemoveStreamResponse"/>
    </operation>
    <operation name="RemoveStream3">
        <input message="agns:RemoveStream3Request"/>
        <output message="agns:RemoveStream3Response"/>
    </operation>
    <operation name="SetServiceEnabled">
        <input message="agns:SetServiceEnabledRequest"/>
        <output message="agns:SetServiceEnabledResponse"/>
    </operation>
    <operation name="SetServiceEnabledByMediaType">
        <input message="agns:SetServiceEnabledByMediaTypeRequest"/>
        <output message="agns:SetServiceEnabledByMediaTypeResponse"/>
    </operation>
    <operation name="SetStreams">
        <input message="agns:SetStreamsRequest"/>
        <output message="agns:SetStreamsResponse"/>
    </operation>
    <operation name="SetStreams3">
        <input message="agns:SetStreams3Request"/>
        <output message="agns:SetStreams3Response"/>
    </operation>
    <operation name="StopServices">
        <input message="agns:StopServicesRequest"/>
        <output message="agns:StopServicesResponse"/>
    </operation>
    <operation name="StoreConfiguration">
        <input message="agns:StoreConfigurationRequest"/>
        <output message="agns:StoreConfigurationResponse"/>
    </operation>
	<operation name="GetVersion">
	    <input message="agns:GetVersionRequest"/>
	    <output message="agns:GetVersionResponse"/>
	</operation>
    </portType>

</definitions>

