AccessGrid/wsdl/AGServiceManagerBinding.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:agtk="http://www.accessgrid.org/v3.0"
  xmlns:agtksm="http://www.accessgrid.org/v3.0/servicemanager"
  targetNamespace="http://www.accessgrid.org/v3.0/servicemanager">

  <import namespace="http://www.accessgrid.org/v3.0/servicemanager" 
          location="AGServiceManagerInterface.wsdl"/>

  <import namespace="http://www.accessgrid.org/v3.0" 
          location="AccessGrid_Types.xsd"/>

  <binding name="AGServiceManager" type="agtksm:AGServiceManager">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <operation name="AddService">
	    <soap:operation soapAction="urn:#AddService"/>
	    <input>
		<soap:body use="literal"/> 
	    </input>
	    <output>
		<soap:body use="literal"/> 
	    </output>
	</operation>
    <operation name="AddServiceByName">
	    <soap:operation soapAction="urn:#AddServiceByName"/>
	    <input>
		<soap:body use="literal"/> 
	    </input>
	    <output>
		<soap:body use="literal"/> 
	    </output>
	</operation>
    <operation name="GetDescription">
	    <soap:operation soapAction="urn:#GetDescription"/>
	    <input>
		<soap:body use="literal"/> 
	    </input>
	    <output>
		<soap:body use="literal"/> 
	    </output>
	</operation>
    <operation name="GetNodeServiceUrl">
	    <soap:operation soapAction="urn:#GetNodeServiceUrl"/>
	    <input>
		<soap:body use="literal"/> 
	    </input>
	    <output>
		<soap:body use="literal"/> 
	    </output>
	</operation>
    <operation name="GetServicePackageDescriptions">
	    <soap:operation soapAction="urn:#GetServicePackageDescriptions"/>
	    <input>
		<soap:body use="literal"/> 
	    </input>
	    <output>
		<soap:body use="literal"/> 
	    </output>
	</operation>
    <operation name="GetServices">
	    <soap:operation soapAction="urn:#GetServices"/>
	    <input>
		<soap:body use="literal"/> 
	    </input>
	    <output>
		<soap:body use="literal"/> 
	    </output>
	</operation>
    <operation name="IsValid">
	    <soap:operation soapAction="urn:#IsValid"/>
	    <input>
		<soap:body use="literal"/> 
	    </input>
	    <output>
		<soap:body use="literal"/> 
	    </output>
	</operation>
    <operation name="RegisterService">
	    <soap:operation soapAction="urn:#RegisterService"/>
	    <input>
		<soap:body use="literal"/> 
	    </input>
	    <output>
		<soap:body use="literal"/> 
	    </output>
	</operation>
    <operation name="RemoveService">
	    <soap:operation soapAction="urn:#RemoveService"/>
	    <input>
		<soap:body use="literal"/> 
	    </input>
	    <output>
		<soap:body use="literal"/> 
	    </output>
	</operation>
    <operation name="RemoveServices">
	    <soap:operation soapAction="urn:#RemoveServices"/>
	    <input>
		<soap:body use="literal"/> 
	    </input>
	    <output>
		<soap:body use="literal"/> 
	    </output>
	</operation>
    <operation name="SetNodeServiceUrl">
	    <soap:operation soapAction="urn:#SetNodeServiceUrl"/>
	    <input>
		<soap:body use="literal"/> 
	    </input>
	    <output>
		<soap:body use="literal"/> 
	    </output>
	</operation>
    <operation name="Shutdown">
	    <soap:operation soapAction="urn:#Shutdown"/>
	    <input>
		<soap:body use="literal"/> 
	    </input>
	    <output>
		<soap:body use="literal"/> 
	    </output>
	</operation>
    <operation name="StopServices">
	    <soap:operation soapAction="urn:#StopServices"/>
	    <input>
		<soap:body use="literal"/> 
	    </input>
	    <output>
		<soap:body use="literal"/> 
	    </output>
	</operation>
    </binding>
    <service name="AGServiceManager">
        <port name="AGServiceManager" binding="agtksm:AGServiceManager">
	    <soap:address location="http://localhost:7000"/>
	</port>
    </service>


</definitions>

