AccessGrid/wsdl/AGServiceManagerInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:agtk="http://www.accessgrid.org/v3.0"
  xmlns:agtksm="http://www.accessgrid.org/v3.0/servicemanager"
  targetNamespace="http://www.accessgrid.org/v3.0/servicemanager">

      <types>
      <schema targetNamespace="http://www.accessgrid.org/v3.0/servicemanager" 
              elementFormDefault="qualified" 
	      attributeFormDefault="unqualified" 
              xmlns="http://www.w3.org/2001/XMLSchema">

          <xsd:element name="AddServiceRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="servicePackage" type="agtk:AGServicePackageDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="AddServiceResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="serviceDescription" type="agtk:AGServiceDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="AddServiceByNameRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="AddServiceByNameResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="serviceDescription" type="agtk:AGServiceDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetDescriptionRequest">
          </xsd:element>

          <xsd:element name="GetDescriptionResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="description" type="agtk:AGServiceManagerDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetNodeServiceUrlRequest">
          </xsd:element>

          <xsd:element name="GetNodeServiceUrlResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="nodeServiceUrl" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetServicePackageDescriptionsRequest">
          </xsd:element>

          <xsd:element name="GetServicePackageDescriptionsResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="servicePackageDescription" type="agtk:AGServicePackageDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetServicesRequest">
          </xsd:element>

          <xsd:element name="GetServicesResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="serviceDescription" type="agtk:AGServiceDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="IsValidRequest">
          </xsd:element>

          <xsd:element name="IsValidResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="argname" type="xsd:integer" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="RegisterServiceRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="token" type="xsd:string" />
                <xsd:element minOccurs="0" maxOccurs="1" name="url" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="RegisterServiceResponse">
          </xsd:element>

          <xsd:element name="RemoveServiceRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="serviceDescription" type="agtk:AGServiceDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="RemoveServiceResponse">
          </xsd:element>

          <xsd:element name="RemoveServicesRequest">
          </xsd:element>

          <xsd:element name="RemoveServicesResponse">
          </xsd:element>

          <xsd:element name="SetNodeServiceUrlRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="nodeServiceUri" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="SetNodeServiceUrlResponse">
          </xsd:element>

          <xsd:element name="ShutdownRequest">
          </xsd:element>

          <xsd:element name="ShutdownResponse">
          </xsd:element>

          <xsd:element name="StopServicesRequest">
          </xsd:element>

          <xsd:element name="StopServicesResponse">
          </xsd:element>



      </schema>
      </types>
      
      
    <message name="AddServiceRequest">
	<part name="parameters" element="agtksm:AddServiceRequest"/>
    </message>
    <message name="AddServiceResponse">
	<part name="parameters" element="agtksm:AddServiceResponse"/>
    </message>
    <message name="AddServiceByNameRequest">
	<part name="parameters" element="agtksm:AddServiceByNameRequest"/>
    </message>
    <message name="AddServiceByNameResponse">
	<part name="parameters" element="agtksm:AddServiceByNameResponse"/>
    </message>
    <message name="GetDescriptionRequest">
	<part name="parameters" element="agtksm:GetDescriptionRequest"/>
    </message>
    <message name="GetDescriptionResponse">
	<part name="parameters" element="agtksm:GetDescriptionResponse"/>
    </message>
    <message name="GetNodeServiceUrlRequest">
	<part name="parameters" element="agtksm:GetNodeServiceUrlRequest"/>
    </message>
    <message name="GetNodeServiceUrlResponse">
	<part name="parameters" element="agtksm:GetNodeServiceUrlResponse"/>
    </message>
    <message name="GetServicePackageDescriptionsRequest">
	<part name="parameters" element="agtksm:GetServicePackageDescriptionsRequest"/>
    </message>
    <message name="GetServicePackageDescriptionsResponse">
	<part name="parameters" element="agtksm:GetServicePackageDescriptionsResponse"/>
    </message>
    <message name="GetServicesRequest">
	<part name="parameters" element="agtksm:GetServicesRequest"/>
    </message>
    <message name="GetServicesResponse">
	<part name="parameters" element="agtksm:GetServicesResponse"/>
    </message>
    <message name="IsValidRequest">
	<part name="parameters" element="agtksm:IsValidRequest"/>
    </message>
    <message name="IsValidResponse">
	<part name="parameters" element="agtksm:IsValidResponse"/>
    </message>
    <message name="RegisterServiceRequest">
	<part name="parameters" element="agtksm:RegisterServiceRequest"/>
    </message>
    <message name="RegisterServiceResponse">
	<part name="parameters" element="agtksm:RegisterServiceResponse"/>
    </message>
    <message name="RemoveServiceRequest">
	<part name="parameters" element="agtksm:RemoveServiceRequest"/>
    </message>
    <message name="RemoveServiceResponse">
	<part name="parameters" element="agtksm:RemoveServiceResponse"/>
    </message>
    <message name="RemoveServicesRequest">
	<part name="parameters" element="agtksm:RemoveServicesRequest"/>
    </message>
    <message name="RemoveServicesResponse">
	<part name="parameters" element="agtksm:RemoveServicesResponse"/>
    </message>
    <message name="SetNodeServiceUrlRequest">
	<part name="parameters" element="agtksm:SetNodeServiceUrlRequest"/>
    </message>
    <message name="SetNodeServiceUrlResponse">
	<part name="parameters" element="agtksm:SetNodeServiceUrlResponse"/>
    </message>
    <message name="ShutdownRequest">
	<part name="parameters" element="agtksm:ShutdownRequest"/>
    </message>
    <message name="ShutdownResponse">
	<part name="parameters" element="agtksm:ShutdownResponse"/>
    </message>
    <message name="StopServicesRequest">
	<part name="parameters" element="agtksm:StopServicesRequest"/>
    </message>
    <message name="StopServicesResponse">
	<part name="parameters" element="agtksm:StopServicesResponse"/>
    </message>

      
      
    <portType name="AGServiceManager">
    <operation name="AddService">
        <input message="agtksm:AddServiceRequest"/>
        <output message="agtksm:AddServiceResponse"/>
    </operation>
    <operation name="AddServiceByName">
        <input message="agtksm:AddServiceByNameRequest"/>
        <output message="agtksm:AddServiceByNameResponse"/>
    </operation>
    <operation name="GetDescription">
        <input message="agtksm:GetDescriptionRequest"/>
        <output message="agtksm:GetDescriptionResponse"/>
    </operation>
    <operation name="GetNodeServiceUrl">
        <input message="agtksm:GetNodeServiceUrlRequest"/>
        <output message="agtksm:GetNodeServiceUrlResponse"/>
    </operation>
    <operation name="GetServicePackageDescriptions">
        <input message="agtksm:GetServicePackageDescriptionsRequest"/>
        <output message="agtksm:GetServicePackageDescriptionsResponse"/>
    </operation>
    <operation name="GetServices">
        <input message="agtksm:GetServicesRequest"/>
        <output message="agtksm:GetServicesResponse"/>
    </operation>
    <operation name="IsValid">
        <input message="agtksm:IsValidRequest"/>
        <output message="agtksm:IsValidResponse"/>
    </operation>
    <operation name="RegisterService">
        <input message="agtksm:RegisterServiceRequest"/>
        <output message="agtksm:RegisterServiceResponse"/>
    </operation>
    <operation name="RemoveService">
        <input message="agtksm:RemoveServiceRequest"/>
        <output message="agtksm:RemoveServiceResponse"/>
    </operation>
    <operation name="RemoveServices">
        <input message="agtksm:RemoveServicesRequest"/>
        <output message="agtksm:RemoveServicesResponse"/>
    </operation>
    <operation name="SetNodeServiceUrl">
        <input message="agtksm:SetNodeServiceUrlRequest"/>
        <output message="agtksm:SetNodeServiceUrlResponse"/>
    </operation>
    <operation name="Shutdown">
        <input message="agtksm:ShutdownRequest"/>
        <output message="agtksm:ShutdownResponse"/>
    </operation>
    <operation name="StopServices">
        <input message="agtksm:StopServicesRequest"/>
        <output message="agtksm:StopServicesResponse"/>
    </operation>
    </portType>

</definitions>

