AccessGrid/wsdl/VenueClientInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:agtk="http://www.accessgrid.org/v3.0"
  xmlns:agvc="http://www.accessgrid.org/v3.0/venueclient"
  targetNamespace="http://www.accessgrid.org/v3.0/venueclient">

      <types>
      <schema targetNamespace="http://www.accessgrid.org/v3.0/venueclient" 
              elementFormDefault="qualified" 
	      attributeFormDefault="unqualified" 
              xmlns="http://www.w3.org/2001/XMLSchema">

          <xsd:element name="EnterVenueRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="url" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="EnterVenueResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="warningString" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetApplicationsRequest">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetApplicationsResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="applicationDescriptionList" type="agtk:ApplicationDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetClientProfileRequest">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetClientProfileResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="clientProfile" type="agtk:ClientProfile" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetConnectionsRequest">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetConnectionsResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="connectionDescriptionList" type="agtk:ConnectionDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetDataStoreUploadUrlRequest">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetDataStoreUploadUrlResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="dataStoreUploadUrl" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetNodeServiceURLRequest">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetNodeServiceURLResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="nodeServiceUrl" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetServicesRequest">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetServicesResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="serviceDescriptionList" type="agtk:ServiceDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
  
          <xsd:element name="GetStreamsRequest">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetStreamsResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="streamDescriptionList" type="agtk:StreamDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetStreams3Request">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetStreams3Response">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="streamDescriptionList" type="agtk:StreamDescription3" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

	  
          <xsd:element name="GetUsersRequest">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetUsersResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="argname" type="agtk:ClientProfile" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetVenueDataRequest">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetVenueDataResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="dataDescriptionList" type="agtk:DataDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetVenueData3Request">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetVenueData3Response">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="dataDescriptionList" type="agtk:DataDescription3" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

	  
          <xsd:element name="GetVenueURLRequest">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetVenueURLResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="venueUrl" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetBeaconSourcesRequest">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetBeaconSourcesResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="sources" type="agtk:BeaconSource" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetBeaconSourceDataRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="ssrc" type="xsd:long" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetBeaconSourceDataResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="sources" type="agtk:BeaconSourceData" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="IsValidRequest">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="IsValidResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="isValid" type="xsd:integer" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

  	  <xsd:element name="GetVersionRequest">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetVersionResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="version" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

      </schema>
      </types>



    <message name="EnterVenueRequest">
	<part name="parameters" element="agvc:EnterVenueRequest"/>
    </message>
    <message name="EnterVenueResponse">
	<part name="parameters" element="agvc:EnterVenueResponse"/>
    </message>
    <message name="GetApplicationsRequest">
	<part name="parameters" element="agvc:GetApplicationsRequest"/>
    </message>
    <message name="GetApplicationsResponse">
	<part name="parameters" element="agvc:GetApplicationsResponse"/>
    </message>
    <message name="GetClientProfileRequest">
	<part name="parameters" element="agvc:GetClientProfileRequest"/>
    </message>
    <message name="GetClientProfileResponse">
	<part name="parameters" element="agvc:GetClientProfileResponse"/>
    </message>
    <message name="GetConnectionsRequest">
	<part name="parameters" element="agvc:GetConnectionsRequest"/>
    </message>
    <message name="GetConnectionsResponse">
	<part name="parameters" element="agvc:GetConnectionsResponse"/>
    </message>
    <message name="GetDataStoreUploadUrlRequest">
	<part name="parameters" element="agvc:GetDataStoreUploadUrlRequest"/>
    </message>
    <message name="GetDataStoreUploadUrlResponse">
	<part name="parameters" element="agvc:GetDataStoreUploadUrlResponse"/>
    </message>
    <message name="GetNodeServiceURLRequest">
	<part name="parameters" element="agvc:GetNodeServiceURLRequest"/>
    </message>
    <message name="GetNodeServiceURLResponse">
	<part name="parameters" element="agvc:GetNodeServiceURLResponse"/>
    </message>
    <message name="GetPersonalDataRequest">
	<part name="parameters" element="agvc:GetPersonalDataRequest"/>
    </message>
    <message name="GetPersonalDataResponse">
	<part name="parameters" element="agvc:GetPersonalDataResponse"/>
    </message>
    <message name="GetServicesRequest">
	<part name="parameters" element="agvc:GetServicesRequest"/>
    </message>
    <message name="GetServicesResponse">
	<part name="parameters" element="agvc:GetServicesResponse"/>
    </message>
    <message name="GetServices3Request">
	<part name="parameters" element="agvc:GetServices3Request"/>
    </message>
    <message name="GetServices3Response">
	<part name="parameters" element="agvc:GetServices3Response"/>
    </message>
    <message name="GetStreamsRequest">
	<part name="parameters" element="agvc:GetStreamsRequest"/>
    </message>
    <message name="GetStreamsResponse">
	<part name="parameters" element="agvc:GetStreamsResponse"/>
    </message>
    <message name="GetStreams3Request">
	<part name="parameters" element="agvc:GetStreams3Request"/>
    </message>
    <message name="GetStreams3Response">
	<part name="parameters" element="agvc:GetStreams3Response"/>
    </message>
    <message name="GetUsersRequest">
	<part name="parameters" element="agvc:GetUsersRequest"/>
    </message>
    <message name="GetUsersResponse">
	<part name="parameters" element="agvc:GetUsersResponse"/>
    </message>
    <message name="GetVenueDataRequest">
	<part name="parameters" element="agvc:GetVenueDataRequest"/>
    </message>
    <message name="GetVenueDataResponse">
	<part name="parameters" element="agvc:GetVenueDataResponse"/>
    </message>
    <message name="GetVenueData3Request">
	<part name="parameters" element="agvc:GetVenueData3Request"/>
    </message>
    <message name="GetVenueData3Response">
	<part name="parameters" element="agvc:GetVenueData3Response"/>
    </message>
    <message name="GetVenueURLRequest">
	<part name="parameters" element="agvc:GetVenueURLRequest"/>
    </message>
    <message name="GetVenueURLResponse">
	<part name="parameters" element="agvc:GetVenueURLResponse"/>
    </message>
    <message name="GetBeaconSourcesRequest">
	<part name="parameters" element="agvc:GetBeaconSourcesRequest"/>
    </message>
    <message name="GetBeaconSourcesResponse">
	<part name="parameters" element="agvc:GetBeaconSourcesResponse"/>
    </message>
    <message name="GetBeaconSourceDataRequest">
	<part name="parameters" element="agvc:GetBeaconSourceDataRequest"/>
    </message>
    <message name="GetBeaconSourceDataResponse">
	<part name="parameters" element="agvc:GetBeaconSourceDataResponse"/>
    </message>
    <message name="IsValidRequest">
	<part name="parameters" element="agvc:IsValidRequest"/>
    </message>
    <message name="IsValidResponse">
	<part name="parameters" element="agvc:IsValidResponse"/>
    </message>
    <message name="GetVersionRequest">
	<part name="parameters" element="agvc:GetVersionRequest"/>
    </message>
    <message name="GetVersionResponse">
	<part name="parameters" element="agvc:GetVersionResponse"/>
    </message>



    <portType name="VenueClient">
    <operation name="EnterVenue">
        <input message="agvc:EnterVenueRequest"/>
        <output message="agvc:EnterVenueResponse"/>
    </operation>
    <operation name="GetApplications">
        <input message="agvc:GetApplicationsRequest"/>
        <output message="agvc:GetApplicationsResponse"/>
    </operation>
    <operation name="GetClientProfile">
        <input message="agvc:GetClientProfileRequest"/>
        <output message="agvc:GetClientProfileResponse"/>
    </operation>
    <operation name="GetConnections">
        <input message="agvc:GetConnectionsRequest"/>
        <output message="agvc:GetConnectionsResponse"/>
    </operation>
    <operation name="GetDataStoreUploadUrl">
        <input message="agvc:GetDataStoreUploadUrlRequest"/>
        <output message="agvc:GetDataStoreUploadUrlResponse"/>
    </operation>
    <operation name="GetNodeServiceURL">
        <input message="agvc:GetNodeServiceURLRequest"/>
        <output message="agvc:GetNodeServiceURLResponse"/>
    </operation>
    <operation name="GetServices">
        <input message="agvc:GetServicesRequest"/>
        <output message="agvc:GetServicesResponse"/>
    </operation>
    <operation name="GetServices3">
        <input message="agvc:GetServices3Request"/>
        <output message="agvc:GetServices3Response"/>
    </operation>
    <operation name="GetStreams">
        <input message="agvc:GetStreamsRequest"/>
        <output message="agvc:GetStreamsResponse"/>
    </operation>
    <operation name="GetStreams3">
        <input message="agvc:GetStreams3Request"/>
        <output message="agvc:GetStreams3Response"/>
    </operation>
    <operation name="GetUsers">
        <input message="agvc:GetUsersRequest"/>
        <output message="agvc:GetUsersResponse"/>
    </operation>
    <operation name="GetVenueData">
        <input message="agvc:GetVenueDataRequest"/>
        <output message="agvc:GetVenueDataResponse"/>
    </operation>
    <operation name="GetVenueData3">
        <input message="agvc:GetVenueData3Request"/>
        <output message="agvc:GetVenueData3Response"/>
    </operation>
    <operation name="GetBeaconSources">
        <input message="agvc:GetBeaconSourcesRequest"/>
        <output message="agvc:GetBeaconSourcesResponse"/>
    </operation>
    <operation name="GetBeaconSourceData">
        <input message="agvc:GetBeaconSourceDataRequest"/>
        <output message="agvc:GetBeaconSourceDataResponse"/>
    </operation>
    <operation name="GetVenueURL">
        <input message="agvc:GetVenueURLRequest"/>
        <output message="agvc:GetVenueURLResponse"/>
    </operation>
    <operation name="IsValid">
        <input message="agvc:IsValidRequest"/>
        <output message="agvc:IsValidResponse"/>
    </operation>
	<operation name="GetVersion">
	    <input message="agvc:GetVersionRequest"/>
	    <output message="agvc:GetVersionResponse"/>
	</operation>
    </portType>

</definitions>

