AccessGrid/wsdl/VenueServerInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:agtk="http://www.accessgrid.org/v3.0"
  xmlns:agtkvs="http://www.accessgrid.org/v3.0/venueserver"
  targetNamespace="http://www.accessgrid.org/v3.0/venueserver">

    <types>
      <schema targetNamespace="http://www.accessgrid.org/v3.0/venueserver" 
              elementFormDefault="qualified" 
	      attributeFormDefault="unqualified" 
              xmlns="http://www.w3.org/2001/XMLSchema">

          <xsd:element name="CheckpointRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="secondsFromNow" type="xsd:integer" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="CheckpointResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="result" type="xsd:boolean" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="ShutdownRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="secondsFromNow" type="xsd:integer" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="ShutdownResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="result" type="xsd:boolean" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="RemoveVenueRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="venueId" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="RemoveVenueResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="result" type="xsd:boolean" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="AddVenueRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="venueDescription" type="agtk:VenueDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="AddVenueResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="venueURL" type="xsd:anyURI" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetVenuesRequest">
          </xsd:element>

          <xsd:element name="GetVenuesResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="venueDescriptionList" type="agtk:VenueDescription" />

              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetDefaultVenueRequest">
          </xsd:element>

          <xsd:element name="GetDefaultVenueResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="venueUrl" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

 	  <xsd:element name="GetBaseAddressRequest">
          </xsd:element>

          <xsd:element name="GetBaseAddressResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="venueUrl" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

	  <xsd:element name="GetAddressMaskRequest">
          </xsd:element>

          <xsd:element name="GetAddressMaskResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="venueUrl" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetEncryptAllMediaRequest">
          </xsd:element>

          <xsd:element name="GetEncryptAllMediaResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="venueUrl" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetAddressAllocationMethodRequest">
          </xsd:element>

          <xsd:element name="GetAddressAllocationMethodResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="venueUrl" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

	  <xsd:element name="GetVenuesAsConnectionDescriptionsRequest">
          </xsd:element>

          <xsd:element name="GetVenuesAsConnectionDescriptionsResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="connectionDescriptionList" type="agtk:ConnectionDescription" />

              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetPropertyRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="propertyList" type="xsd:string" />

              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="GetPropertyResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="propertyDict" type="agtk:Dictionary" />

              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="SetPropertyRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="propertyDict" type="agtk:Dictionary" />

              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="SetPropertyResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="propertyDict" type="agtk:Dictionary" />

              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="SetDefaultVenueRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="venueId" type="xsd:string"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="SetDefaultVenueResponse">
          </xsd:element>
      </schema>
    </types>

    <message name="CheckpointRequest">
	<part name="parameters" element="agtkvs:CheckpointRequest"/>
    </message>
    <message name="CheckpointResponse">
	<part name="parameters" element="agtkvs:CheckpointResponse"/>
    </message>
    <message name="ShutdownRequest">
	<part name="parameters" element="agtkvs:ShutdownRequest"/>
    </message>
    <message name="ShutdownResponse">
	<part name="parameters" element="agtkvs:ShutdownResponse"/>
    </message>
    <message name="RemoveVenueRequest">
	<part name="parameters" element="agtkvs:RemoveVenueRequest"/>
    </message>
    <message name="RemoveVenueResponse">
	<part name="parameters" element="agtkvs:RemoveVenueResponse"/>
    </message>
    <message name="AddVenueRequest">
	<part name="parameters" element="agtkvs:AddVenueRequest"/>
    </message>
    <message name="AddVenueResponse">
	<part name="parameters" element="agtkvs:AddVenueResponse"/>
    </message>
    <message name="GetVenuesRequest">
	<part name="parameters" element="agtkvs:GetVenuesRequest"/>
    </message>
    <message name="GetVenuesResponse">
	<part name="parameters" element="agtkvs:GetVenuesResponse"/>
    </message>
    <message name="GetDefaultVenueRequest">
	<part name="parameters" element="agtkvs:GetDefaultVenueRequest"/>
    </message>
    <message name="GetDefaultVenueResponse">
	<part name="parameters" element="agtkvs:GetDefaultVenueResponse"/>
    </message>
    <message name="GetBaseAddressRequest">
	<part name="parameters" element="agtkvs:GetBaseAddressRequest"/>
    </message>
    <message name="GetBaseAddressResponse">
	<part name="parameters" element="agtkvs:GetBaseAddressResponse"/>
    </message>
    <message name="GetAddressMaskRequest">
	<part name="parameters" element="agtkvs:GetAddressMaskRequest"/>
    </message>
    <message name="GetAddressMaskResponse">
	<part name="parameters" element="agtkvs:GetAddressMaskResponse"/>
    </message>
    <message name="GetEncryptAllMediaRequest">
	<part name="parameters" element="agtkvs:GetEncryptAllMediaRequest"/>
    </message>
    <message name="GetEncryptAllMediaResponse">
	<part name="parameters" element="agtkvs:GetEncryptAllMediaResponse"/>
    </message>
    <message name="GetAddressAllocationMethodRequest">
	<part name="parameters" element="agtkvs:GetAddressAllocationMethodRequest"/>
    </message>
    <message name="GetAddressAllocationMethodResponse">
	<part name="parameters" element="agtkvs:GetAddressAllocationMethodResponse"/>
    </message>
    <message name="GetVenuesAsConnectionDescriptionsRequest">
	<part name="parameters" element="agtkvs:GetVenuesAsConnectionDescriptionsRequest"/>
    </message>
    <message name="GetVenuesAsConnectionDescriptionsResponse">
	<part name="parameters" element="agtkvs:GetVenuesAsConnectionDescriptionsResponse"/>
    </message>
    <message name="GetPropertyRequest">
	<part name="parameters" element="agtkvs:GetPropertyRequest"/>
    </message>
    <message name="GetPropertyResponse">
	<part name="parameters" element="agtkvs:GetPropertyResponse"/>
    </message>
    <message name="SetPropertyRequest">
	<part name="parameters" element="agtkvs:SetPropertyRequest"/>
    </message>
    <message name="SetPropertyResponse">
	<part name="parameters" element="agtkvs:SetPropertyResponse"/>
    </message>
    <message name="SetDefaultVenueRequest">
	<part name="parameters" element="agtkvs:SetDefaultVenueRequest"/>
    </message>
    <message name="SetDefaultVenueResponse">
	<part name="parameters" element="agtkvs:SetDefaultVenueResponse"/>
    </message>

    <portType name="VenueServer">
	<operation name="Checkpoint">
	    <input message="agtkvs:CheckpointRequest"/>
	    <output message="agtkvs:CheckpointResponse"/>
	</operation>
	<operation name="Shutdown">
	    <input message="agtkvs:ShutdownRequest"/>
	    <output message="agtkvs:ShutdownResponse"/>
	</operation>
	<operation name="GetVenues">
	    <input message="agtkvs:GetVenuesRequest"/>
	    <output message="agtkvs:GetVenuesResponse"/>
	</operation>
	<operation name="GetDefaultVenue">
	    <input message="agtkvs:GetDefaultVenueRequest"/>
	    <output message="agtkvs:GetDefaultVenueResponse"/>
	</operation>
	<operation name="GetBaseAddress">
	    <input message="agtkvs:GetBaseAddressRequest"/>
	    <output message="agtkvs:GetBaseAddressResponse"/>
	</operation>
	<operation name="GetAddressMask">
	    <input message="agtkvs:GetAddressMaskRequest"/>
	    <output message="agtkvs:GetAddressMaskResponse"/>
	</operation>
	<operation name="GetEncryptAllMedia">
	    <input message="agtkvs:GetEncryptAllMediaRequest"/>
	    <output message="agtkvs:GetEncryptAllMediaResponse"/>
	</operation>
        <operation name="GetAddressAllocationMethod">
	    <input message="agtkvs:GetAddressAllocationMethodRequest"/>
	    <output message="agtkvs:GetAddressAllocationMethodResponse"/>
	</operation>
	<operation name="GetVenuesAsConnectionDescriptions">
	    <input message="agtkvs:GetVenuesAsConnectionDescriptionsRequest"/>
	    <output message="agtkvs:GetVenuesAsConnectionDescriptionsResponse"/>
	</operation>
	<operation name="AddVenue">
	    <input message="agtkvs:AddVenueRequest"/>
	    <output message="agtkvs:AddVenueResponse"/>
	</operation>
	<operation name="RemoveVenue">
	    <input message="agtkvs:RemoveVenueRequest"/>
	    <output message="agtkvs:RemoveVenueResponse"/>
	</operation>
	<operation name="GetProperty">
	    <input message="agtkvs:GetPropertyRequest"/>
	    <output message="agtkvs:GetPropertyResponse"/>
	</operation>
	<operation name="SetProperty">
	    <input message="agtkvs:SetPropertyRequest"/>
            <output message="agtkvs:SetPropertyResponse"/>
	</operation>
	<operation name="SetDefaultVenue">
	    <input message="agtkvs:SetDefaultVenueRequest"/>
	    <output message="agtkvs:SetDefaultVenueResponse"/>
	</operation>
    </portType>

</definitions>
