AccessGrid/wsdl/VenueServerBinding.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:agtk="http://www.accessgrid.org/"
  targetNamespace="http://www.accessgrid.org/">

  <import namespace="http://www.accessgrid.org/" 
          location="VenueServerInterface.wsdl"/>

  <binding name="SOAPBinding" type="agtk:VenueServer">
    <soap:binding style="document" 
                  transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="Checkpoint">
	    <soap:operation soapAction="urn:#Checkpoint"/>
	    <input>
		<soap:body use="literal"/> 
	    </input>
	    <output>
		<soap:body use="literal"/> 
	    </output>
	</operation>
   	<operation name="Shutdown">
	    <soap:operation soapAction="urn:#Shutdown"/>
	    <input>
		<soap:body use="literal"/> 
	    </input>
	    <output>
		<soap:body use="literal"/> 
	    </output>
	</operation>
	<operation name="GetVenues">
	    <soap:operation soapAction="urn:#GetVenues"/>
            <output>
		<soap:body use="literal"/> 
	    </output>
	    <input>
		<soap:body use="literal"/> 
	    </input>
	</operation>
	<operation name="AddVenue">
	    <soap:operation soapAction="urn:#AddVenue"/>
	    <input>
		<soap:body use="literal"/> 
	    </input>
	    <output>
		<soap:body use="literal"/> 
	    </output>
	</operation>
	<operation name="RemoveVenue">
	    <soap:operation soapAction="urn:#RemoveVenue"/>
	    <input>
		<soap:body use="literal"/> 
	    </input>
	    <output>
		<soap:body use="literal"/> 
	    </output>
	</operation>
	<operation name="GetProperty">
	    <soap:operation soapAction="urn:#GetProperty"/>
	    <input>
		<soap:body use="literal"/> 
	    </input>
	    <output>
		<soap:body use="literal"/> 
	    </output>
	</operation>
	<operation name="SetProperty">
	    <soap:operation soapAction="urn:#SetProperty"/>
	    <input>
		<soap:body use="literal"/> 
	    </input>
	</operation>
    </binding>

    <service name="VenueServer">
        <port name="VenueServerSOAP" binding="agtk:SOAPBinding">
	    <soap:address location="http://localhost:7000"/>
	</port>
    </service>

</definitions>
