AccessGrid/wsdl/VenueInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:agtk="http://www.accessgrid.org/v3.0"
  xmlns:agtkv="http://www.accessgrid.org/v3.0/venue"
  targetNamespace="http://www.accessgrid.org/v3.0/venue">

    <types>
      <schema targetNamespace="http://www.accessgrid.org/v3.0/venue" 
              elementFormDefault="qualified" 
	      attributeFormDefault="unqualified" 
              xmlns="http://www.w3.org/2001/XMLSchema">

          <xsd:element name="EnterRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="clientProfile" type="agtk:ClientProfile" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="EnterResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="connectionId" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="ExitRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="connectionId" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="RegisterNetworkServiceRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="netDescription" type="agtk:AGNetworkServiceDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="RegisterNetworkServiceResponse">
            <xsd:complexType>
            </xsd:complexType>       
          </xsd:element>

          <xsd:element name="RegisterNetworkService3Request">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="netDescription" type="agtk:AGNetworkServiceDescription3" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="RegisterNetworkService3Response">
            <xsd:complexType>
            </xsd:complexType>       
          </xsd:element>

	  

          <xsd:element name="UnRegisterNetworkServiceRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="netDescription" type="agtk:AGNetworkServiceDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="UnRegisterNetworkServiceResponse">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="UnRegisterNetworkService3Request">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="netDescription" type="agtk:AGNetworkServiceDescription3" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="UnRegisterNetworkService3Response">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

	  
          <xsd:element name="GetStateRequest">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetStateResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="state" type="agtk:VenueState" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetState3Request">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetState3Response">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="state" type="agtk:VenueState3" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>


	 <xsd:element name="AsVenueDescriptionRequest">
            <xsd:complexType>
            </xsd:complexType>
         </xsd:element>
	 
          <xsd:element name="AsVenueDescriptionResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="venueDescription" type="agtk:VenueDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

	 <xsd:element name="AsVenueDescription3Request">
            <xsd:complexType>
            </xsd:complexType>
         </xsd:element>
	 
          <xsd:element name="AsVenueDescription3Response">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="venueDescription" type="agtk:VenueDescription3" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

	  
          <xsd:element name="NegotiateCapabilitiesRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="connectionId" type="xsd:string" />
                <xsd:element minOccurs="1" maxOccurs="unbounded" name="capabilities" type="agtk:Capability" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="NegotiateCapabilitiesResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="streams" type="agtk:StreamDescription" />
              </xsd:sequence>
            </xsd:complexType>
	  </xsd:element>

          <xsd:element name="NegotiateCapabilities3Request">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="connectionId" type="xsd:string" />
                <xsd:element minOccurs="1" maxOccurs="unbounded" name="capabilities" type="agtk:Capability3" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="NegotiateCapabilities3Response">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="streams" type="agtk:StreamDescription3" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>


          <xsd:element name="CreateApplicationRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="appName" type="xsd:string" />
                <xsd:element minOccurs="1" maxOccurs="1" name="appDescription" type="xsd:string" />
                <xsd:element minOccurs="1" maxOccurs="1" name="appMimeType" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="CreateApplicationResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="appDescription" type="agtk:ApplicationDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="UpdateApplicationRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="appDescription" type="agtk:ApplicationDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="UpdateApplicationResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="appDescription" type="agtk:ApplicationDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>


          <xsd:element name="DestroyApplicationRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="appId" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="AllocateMulticastLocationRequest">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="AllocateMulticastLocationResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="multicastLocation" type="agtk:MulticastNetworkLocation" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="RecycleMulticastLocationRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="multicastLocation" type="agtk:MulticastNetworkLocation" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="AddNetworkLocationToStreamRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="streamId" type="xsd:string" />
                <xsd:element minOccurs="1" maxOccurs="1" name="location" type="agtk:NetworkLocation" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="AddNetworkLocationToStreamResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="id" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="ShutdownRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="secondsFromNow" type="xsd:integer" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="RegenerateEncryptionKeysRequest">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="RegenerateEncryptionKeysResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="key" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="ImportPolicyRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="policy" type="agtk:AuthorizationPolicy" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="ExportPolicyRequest">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="ExportPolicyResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="policy" type="agtk:AuthorizationPolicy" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="UpdateLifetimeRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="connectionId" type="xsd:string" />
                <xsd:element minOccurs="1" maxOccurs="1" name="requestedTimeout" type="xsd:float"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="UpdateLifetimeResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="timeout" type="xsd:float" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetConnectionsRequest"> 
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetConnectionsResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="connections" type="agtk:ConnectionDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
	
          <xsd:element name="SetConnectionsRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="unbounded" name="connections" type="agtk:ConnectionDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="SetConnectionsResponse">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetUploadDescriptorRequest">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetUploadDescriptorResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="uploadUrl" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="UpdateDataRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="dataDesc" type="agtk:DataDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="UpdateDataResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="dataDesc" type="agtk:DataDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="UpdateData3Request">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="dataDesc" type="agtk:DataDescription3" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="UpdateData3Response">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="dataDesc" type="agtk:DataDescription3" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>


          <xsd:element name="RemoveDataRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="dataDesc" type="agtk:DataDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="RemoveDataResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="dataDesc" type="agtk:DataDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="RemoveData3Request">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="dataDesc" type="agtk:DataDescription3" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="RemoveData3Response">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="dataDesc" type="agtk:DataDescription3" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>


	  <xsd:element name="GetDataDescriptionsRequest">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

	  <xsd:element name="GetDataDescriptionsResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="dataDescriptions" type="agtk:DataDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

	  <xsd:element name="GetDataDescriptions3Request">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

	  <xsd:element name="GetDataDescriptions3Response">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="dataDescriptions" type="agtk:DataDescription3" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

	  
          <xsd:element name="AddServiceRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="serviceDesc" type="agtk:ServiceDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="AddServiceResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="serviceDesc" type="agtk:ServiceDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>



	  
          <xsd:element name="RemoveServiceRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="serviceDesc" type="agtk:ServiceDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="RemoveServiceResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="serviceDesc" type="agtk:ServiceDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
	  
          <xsd:element name="UpdateServiceRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="serviceDesc" type="agtk:ServiceDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="UpdateServiceResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="serviceDesc" type="agtk:ServiceDescription" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="UpdateClientProfileRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="clientProfile" type="agtk:ClientProfile" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="UpdateClientProfileResponse">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

	  <xsd:element name="GetDataStoreInformationRequest">
            <xsd:complexType>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="GetDataStoreInformationResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="2" maxOccurs="2" name="dataStoreInformation" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
    
	  <xsd:element name="AddDirRequest">
            <xsd:complexType>
              <xsd:sequence>
		      <xsd:element  minOccurs="1" maxOccurs="1" name="name" type="xsd:string" />
		      <xsd:element  minOccurs="1" maxOccurs="1" name="desc" type="xsd:string" />
		      <xsd:element  minOccurs="1" maxOccurs="1" name="level" type="xsd:string" />
                      <xsd:element  minOccurs="1" maxOccurs="1" name="parentUID" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
	 </xsd:element>
	 <xsd:element name="AddDirResponse">
	    <xsd:complexType>
	    </xsd:complexType>
         </xsd:element>

  	    <xsd:element name="GetVersionRequest">
            <xsd:complexType>
            </xsd:complexType>
        </xsd:element>

        <xsd:element name="GetVersionResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="version" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
        </xsd:element>

        <xsd:element name="GetStreamsRequest">
            <xsd:complexType>
            </xsd:complexType>
        </xsd:element>

        <xsd:element name="GetStreamsResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="streams" type="agtk:StreamDescription" />
              </xsd:sequence>
            </xsd:complexType>
        </xsd:element>

        <xsd:element name="GetStreams3Request">
            <xsd:complexType>
            </xsd:complexType>
        </xsd:element>

        <xsd:element name="GetStreams3Response">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="streams" type="agtk:StreamDescription3" />
              </xsd:sequence>
            </xsd:complexType>
        </xsd:element>

	
        <xsd:element name="HDDumpRequest">
            <xsd:complexType>
            </xsd:complexType>
	 </xsd:element>

	 <xsd:element name="HDDumpResponse">
	    <xsd:complexType>
	    </xsd:complexType>
         </xsd:element>
	 
	 
	  <xsd:element name="GetDescByIdRequest">
            <xsd:complexType>
              <xsd:sequence>
		      <xsd:element  minOccurs="1" maxOccurs="1" name="id" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
	 </xsd:element>
	 
	 <xsd:element name="GetDescByIdResponse">
            <xsd:complexType>
              <xsd:sequence>
		      <xsd:element  minOccurs="1" maxOccurs="1" name="DirectoryDescription" type="agtk:DirectoryDescription" />
              </xsd:sequence>
            </xsd:complexType>
	 </xsd:element>
	 
	 <xsd:element name="RemoveDirRequest">
            <xsd:complexType>
              <xsd:sequence>
		      <xsd:element minOccurs="1" maxOccurs="1" name="data" type="agtk:DirectoryDescription" />
              </xsd:sequence>
            </xsd:complexType>
	 </xsd:element>
	 
	 <xsd:element name="RemoveDirResponse">
            <xsd:complexType>
            </xsd:complexType>
         </xsd:element>
	 <xsd:element name="GetDataSizeRequest">
            <xsd:complexType>
            </xsd:complexType>
	 </xsd:element>
	 
	 <xsd:element name="GetDataSizeResponse">
	    <xsd:complexType>
	    	<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="size" type="xsd:int" />	 
		</xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </schema>
    </types>

    <message name="EnterRequest">
	<part name="parameters" element="agtkv:EnterRequest"/>
    </message>
    <message name="EnterResponse">
	<part name="parameters" element="agtkv:EnterResponse"/>
    </message>
    <message name="ExitRequest">
	<part name="parameters" element="agtkv:ExitRequest"/>
    </message>
    <message name="RegisterNetworkServiceRequest">
	<part name="parameters" element="agtkv:RegisterNetworkServiceRequest"/>
    </message>
    <message name="RegisterNetworkServiceResponse">
	<part name="parameters" element="agtkv:RegisterNetworkServiceResponse"/>
    </message>
    <message name="RegisterNetworkService3Request">
	<part name="parameters" element="agtkv:RegisterNetworkService3Request"/>
    </message>
    <message name="RegisterNetworkService3Response">
	<part name="parameters" element="agtkv:RegisterNetworkService3Response"/>
    </message>

    <message name="UnRegisterNetworkServiceRequest">
	<part name="parameters" element="agtkv:UnRegisterNetworkServiceRequest"/>
    </message>
    <message name="UnRegisterNetworkServiceResponse">
	<part name="parameters" element="agtkv:UnRegisterNetworkServiceResponse"/>
    </message>
    <message name="UnRegisterNetworkService3Request">
	<part name="parameters" element="agtkv:UnRegisterNetworkService3Request"/>
    </message>
    <message name="UnRegisterNetworkService3Response">
	<part name="parameters" element="agtkv:UnRegisterNetworkService3Response"/>
    </message>

    <message name="GetStateRequest">
	<part name="parameters" element="agtkv:GetStateRequest"/>
    </message>
    <message name="GetStateResponse">
	<part name="parameters" element="agtkv:GetStateResponse"/>
    </message>
    <message name="GetState3Request">
	<part name="parameters" element="agtkv:GetState3Request"/>
    </message>
    <message name="GetState3Response">
	<part name="parameters" element="agtkv:GetState3Response"/>
    </message>
    <message name="AsVenueDescriptionRequest">
	<part name="parameters" element="agtkv:AsVenueDescriptionRequest"/>
    </message>
    <message name="AsVenueDescriptionResponse">
	<part name="parameters" element="agtkv:AsVenueDescriptionResponse"/>
    </message>
    <message name="AsVenueDescription3Request">
	<part name="parameters" element="agtkv:AsVenueDescription3Request"/>
    </message>
    <message name="AsVenueDescription3Response">
	<part name="parameters" element="agtkv:AsVenueDescription3Response"/>
    </message>
    <message name="NegotiateCapabilitiesRequest">
	<part name="parameters" element="agtkv:NegotiateCapabilitiesRequest"/>
    </message>
    <message name="NegotiateCapabilitiesResponse">
	<part name="parameters" element="agtkv:NegotiateCapabilitiesResponse"/>
    </message>
    <message name="NegotiateCapabilities3Request">
	<part name="parameters" element="agtkv:NegotiateCapabilities3Request"/>
    </message>
    <message name="NegotiateCapabilities3Response">
	<part name="parameters" element="agtkv:NegotiateCapabilities3Response"/>
    </message>
    <message name="CreateApplicationRequest">
	<part name="parameters" element="agtkv:CreateApplicationRequest"/>
    </message>
    <message name="CreateApplicationResponse">
	<part name="parameters" element="agtkv:CreateApplicationResponse"/>
    </message>
    <message name="UpdateApplicationRequest">
	<part name="parameters" element="agtkv:UpdateApplicationRequest"/>
    </message>
    <message name="UpdateApplicationResponse">
	<part name="parameters" element="agtkv:UpdateApplicationResponse"/>
    </message>
    <message name="DestroyApplicationRequest">
	<part name="parameters" element="agtkv:DestroyApplicationRequest"/>
    </message>
    <message name="AllocateMulticastLocationRequest">
	<part name="parameters" element="agtkv:AllocateMulticastLocationRequest"/>
    </message>
    <message name="AllocateMulticastLocationResponse">
	<part name="parameters" element="agtkv:AllocateMulticastLocationResponse"/>
    </message>
    <message name="RecycleMulticastLocationRequest">
	<part name="parameters" element="agtkv:RecycleMulticastLocationRequest"/>
    </message>
    <message name="AddNetworkLocationToStreamRequest">
	<part name="parameters" element="agtkv:AddNetworkLocationToStreamRequest"/>
    </message>
    <message name="AddNetworkLocationToStreamResponse">
	<part name="parameters" element="agtkv:AddNetworkLocationToStreamResponse"/>
    </message>
    <message name="ShutdownRequest">
	<part name="parameters" element="agtkv:ShutdownRequest"/>
    </message>
    <message name="RegenerateEncryptionKeysRequest">
	<part name="parameters" element="agtkv:RegenerateEncryptionKeysRequest"/>
    </message>
    <message name="RegenerateEncryptionKeysResponse">
	<part name="parameters" element="agtkv:RegenerateEncryptionKeysResponse"/>
    </message>
    <message name="ImportPolicyRequest">
	<part name="parameters" element="agtkv:ImportPolicyRequest"/>
    </message>
    <message name="ExportPolicyRequest">
	<part name="parameters" element="agtkv:ExportPolicyRequest"/>
    </message>
    <message name="ExportPolicyResponse">
	<part name="parameters" element="agtkv:ExportPolicyResponse"/>
    </message>
    <message name="UpdateLifetimeRequest">
	<part name="parameters" element="agtkv:UpdateLifetimeRequest"/>
    </message>
    <message name="UpdateLifetimeResponse">
	<part name="parameters" element="agtkv:UpdateLifetimeResponse"/>
    </message>
    <message name="GetConnectionsRequest">
	<part name="parameters" element="agtkv:GetConnectionsRequest"/>
    </message>
    <message name="GetConnectionsResponse">
	<part name="parameters" element="agtkv:GetConnectionsResponse"/>
    </message>
    <message name="SetConnectionsRequest">
	<part name="parameters" element="agtkv:SetConnectionsRequest"/>
    </message>
    <message name="SetConnectionsResponse">
	<part name="parameters" element="agtkv:SetConnectionsResponse"/>
    </message>
    <message name="GetUploadDescriptorRequest">
	<part name="parameters" element="agtkv:GetUploadDescriptorRequest"/>
    </message>
    <message name="GetUploadDescriptorResponse">
	<part name="parameters" element="agtkv:GetUploadDescriptorResponse"/>
    </message>
    <message name="UpdateDataRequest">
	<part name="parameters" element="agtkv:UpdateDataRequest"/>
    </message>
    <message name="UpdateDataResponse">
	<part name="parameters" element="agtkv:UpdateDataResponse"/>
    </message>
    <message name="UpdateData3Request">
	<part name="parameters" element="agtkv:UpdateData3Request"/>
    </message>
    <message name="UpdateData3Response">
	<part name="parameters" element="agtkv:UpdateData3Response"/>
    </message>
    <message name="RemoveDataRequest">
	<part name="parameters" element="agtkv:RemoveDataRequest"/>
    </message>
    <message name="RemoveDataResponse">
	<part name="parameters" element="agtkv:RemoveDataResponse"/>
    </message>
    <message name="RemoveData3Request">
	<part name="parameters" element="agtkv:RemoveData3Request"/>
    </message>
    <message name="RemoveData3Response">
	<part name="parameters" element="agtkv:RemoveData3Response"/>
    </message>
    <message name="GetDataDescriptionsRequest">
	<part name="parameters" element="agtkv:GetDataDescriptionsRequest"/>
    </message>
    <message name="GetDataDescriptionsResponse">
	<part name="parameters" element="agtkv:GetDataDescriptionsResponse"/>
    </message>
    <message name="GetDataDescriptions3Request">
	<part name="parameters" element="agtkv:GetDataDescriptions3Request"/>
    </message>
    <message name="GetDataDescriptions3Response">
	<part name="parameters" element="agtkv:GetDataDescriptions3Response"/>
    </message>
    <message name="AddServiceRequest">
	<part name="parameters" element="agtkv:AddServiceRequest"/>
    </message>
    <message name="AddServiceResponse">
	<part name="parameters" element="agtkv:AddServiceResponse"/>
    </message>
    <message name="RemoveServiceRequest">
	<part name="parameters" element="agtkv:RemoveServiceRequest"/>
    </message>
    <message name="RemoveServiceResponse">
	<part name="parameters" element="agtkv:RemoveServiceResponse"/>
    </message>
    <message name="UpdateServiceRequest">
	<part name="parameters" element="agtkv:UpdateServiceRequest"/>
    </message>
    <message name="UpdateServiceResponse">
	<part name="parameters" element="agtkv:UpdateServiceResponse"/>
    </message>
    <message name="UpdateClientProfileRequest">
	<part name="parameters" element="agtkv:UpdateClientProfileRequest"/>
    </message>
    <message name="UpdateClientProfileResponse">
	<part name="parameters" element="agtkv:UpdateClientProfileResponse"/>
    </message>
    <message name="GetDataStoreInformationRequest">
	<part name="parameters" element="agtkv:GetDataStoreInformationRequest"/>
    </message>
    <message name="GetDataStoreInformationResponse">
	<part name="parameters" element="agtkv:GetDataStoreInformationResponse"/>
    </message>
    <message name="GetVersionRequest">
	<part name="parameters" element="agtkv:GetVersionRequest"/>
    </message>
    <message name="AddDirRequest">
	<part name="parameters" element="agtkv:AddDirRequest"/>
    </message>
    <message name="GetVersionResponse">
	<part name="parameters" element="agtkv:GetVersionResponse"/>
	</message>
	<message name="AddDirResponse">
	<part name="parameters" element="agtkv:AddDirResponse"/>
    </message>
    <message name="HDDumpRequest">
	<part name="parameters" element="agtkv:HDDumpRequest"/>
    </message>
    <message name="HDDumpResponse">
	<part name="parameters" element="agtkv:HDDumpResponse"/>
    </message>
    <message name="GetDescByIdRequest">
	<part name="parameters" element="agtkv:GetDescByIdRequest"/>
    </message>
    <message name="GetDescByIdResponse">
	<part name="parameters" element="agtkv:GetDescByIdResponse"/>
    </message>
    <message name="GetStreamsRequest">
	<part name="parameters" element="agtkv:GetStreamsRequest"/>
    </message>
    <message name="GetStreamsResponse">
	<part name="parameters" element="agtkv:GetStreamsResponse"/>
    </message>
    <message name="GetStreams3Request">
	<part name="parameters" element="agtkv:GetStreams3Request"/>
    </message>
    <message name="GetStreams3Response">
	<part name="parameters" element="agtkv:GetStreams3Response"/>
    </message>
    <message name="RemoveDirRequest">
	<part name="parameters" element="agtkv:RemoveDirRequest"/>
    </message>
    <message name="RemoveDirResponse">
        <part name="parameters" element="agtkv:RemoveDirResponse"/>
    </message>
    <message name="GetDataSizeRequest">
	<part name="parameters" element="agtkv:GetDataSizeRequest"/>
    </message>
    <message name="GetDataSizeResponse">
        <part name="parameters" element="agtkv:GetDataSizeResponse"/>
    </message>


    <portType name="Venue">
	<operation name="Enter">
	    <input message="agtkv:EnterRequest"/>
	    <output message="agtkv:EnterResponse"/>
	</operation>
	<operation name="RegisterNetworkService">
	    <input message="agtkv:RegisterNetworkServiceRequest"/>
	    <output message="agtkv:RegisterNetworkServiceResponse"/>
	</operation>
	<operation name="RegisterNetworkService3">
	    <input message="agtkv:RegisterNetworkService3Request"/>
	    <output message="agtkv:RegisterNetworkService3Response"/>
	</operation>
	<operation name="UnRegisterNetworkService">
	    <input message="agtkv:UnRegisterNetworkServiceRequest"/>
	    <output message="agtkv:UnRegisterNetworkServiceResponse"/>
        </operation>
    	<operation name="UnRegisterNetworkService3">
	    <input message="agtkv:UnRegisterNetworkService3Request"/>
	    <output message="agtkv:UnRegisterNetworkService3Response"/>
	</operation>
	<operation name="Exit">
	    <input message="agtkv:ExitRequest"/>
	</operation>
	<operation name="GetState">
	    <input message="agtkv:GetStateRequest"/>
	    <output message="agtkv:GetStateResponse"/>
	</operation>
	<operation name="GetState3">
	    <input message="agtkv:GetState3Request"/>
	    <output message="agtkv:GetState3Response"/>
	</operation>
	<operation name="AsVenueDescription">
	    <input message="agtkv:AsVenueDescriptionRequest"/>
	    <output message="agtkv:AsVenueDescriptionResponse"/>
        </operation>
    	<operation name="AsVenueDescription3">
	    <input message="agtkv:AsVenueDescription3Request"/>
	    <output message="agtkv:AsVenueDescription3Response"/>
	</operation>
	<operation name="NegotiateCapabilities">
	    <input message="agtkv:NegotiateCapabilitiesRequest"/>
	    <output message="agtkv:NegotiateCapabilitiesResponse"/>
 	</operation>
    	<operation name="NegotiateCapabilities3">
	    <input message="agtkv:NegotiateCapabilities3Request"/>
	    <output message="agtkv:NegotiateCapabilities3Response"/>
	</operation>
	<operation name="CreateApplication">
	    <input message="agtkv:CreateApplicationRequest"/>
	    <output message="agtkv:CreateApplicationResponse"/>
	</operation>
	<operation name="UpdateApplication">
	    <input message="agtkv:UpdateApplicationRequest"/>
	    <output message="agtkv:UpdateApplicationResponse"/>
	</operation>
	<operation name="DestroyApplication">
	    <input message="agtkv:DestroyApplicationRequest"/>
	</operation>
	<operation name="AllocateMulticastLocation">
	    <input message="agtkv:AllocateMulticastLocationRequest"/>
	    <output message="agtkv:AllocateMulticastLocationResponse"/>
	</operation>
	<operation name="RecycleMulticastLocation">
	    <input message="agtkv:RecycleMulticastLocationRequest"/>
	</operation>
	<operation name="AddNetworkLocationToStream">
	    <input message="agtkv:AddNetworkLocationToStreamRequest"/>
	    <output message="agtkv:AddNetworkLocationToStreamResponse"/>
	</operation>
	<operation name="Shutdown">
	    <input message="agtkv:ShutdownRequest"/>
	</operation>
	<operation name="RegenerateEncryptionKeys">
	    <input message="agtkv:RegenerateEncryptionKeysRequest"/>
	    <output message="agtkv:RegenerateEncryptionKeysResponse"/>
	</operation>
	<operation name="ImportPolicy">
	    <input message="agtkv:ImportPolicyRequest"/>
	</operation>
	<operation name="ExportPolicy">
	    <input message="agtkv:ExportPolicyRequest"/>
	    <output message="agtkv:ExportPolicyResponse"/>
	</operation>
	<operation name="UpdateLifetime">
	    <input message="agtkv:UpdateLifetimeRequest"/>
	    <output message="agtkv:UpdateLifetimeResponse"/>
	</operation>
	<operation name="SetConnections">
	    <input message="agtkv:SetConnectionsRequest"/>
            <output message="agtkv:SetConnectionsResponse"/>
	</operation>
	<operation name="GetConnections">
	    <input message="agtkv:GetConnectionsRequest"/>
            <output message="agtkv:GetConnectionsResponse"/>
	</operation>
	<operation name="GetUploadDescriptor">
	    <input message="agtkv:GetUploadDescriptorRequest"/>
            <output message="agtkv:GetUploadDescriptorResponse"/>
	</operation>
	<operation name="UpdateData">
	    <input message="agtkv:UpdateDataRequest"/>
            <output message="agtkv:UpdateDataResponse"/>
	</operation>
	<operation name="UpdateData3">
	    <input message="agtkv:UpdateData3Request"/>
            <output message="agtkv:UpdateData3Response"/>
	</operation>
	<operation name="RemoveData">
	    <input message="agtkv:RemoveDataRequest"/>
            <output message="agtkv:RemoveDataResponse"/>
        </operation>
	<operation name="RemoveData3">
	    <input message="agtkv:RemoveData3Request"/>
            <output message="agtkv:RemoveData3Response"/>
	</operation>
        <operation name="GetDataDescriptions">
	    <input message="agtkv:GetDataDescriptionsRequest"/>
            <output message="agtkv:GetDataDescriptionsResponse"/>
	</operation>
        <operation name="GetDataDescriptions3">
	    <input message="agtkv:GetDataDescriptions3Request"/>
            <output message="agtkv:GetDataDescriptions3Response"/>
	</operation>
	<operation name="AddService">
	    <input message="agtkv:AddServiceRequest"/>
            <output message="agtkv:AddServiceResponse"/>
	</operation>
	<operation name="RemoveService">
	    <input message="agtkv:RemoveServiceRequest"/>
            <output message="agtkv:RemoveServiceResponse"/>
        </operation>
    	<operation name="UpdateService">
	    <input message="agtkv:UpdateServiceRequest"/>
            <output message="agtkv:UpdateServiceResponse"/>
        </operation>
    	<operation name="UpdateClientProfile">
	    <input message="agtkv:UpdateClientProfileRequest"/>
            <output message="agtkv:UpdateClientProfileResponse"/>
	</operation>
	<operation name="GetDataStoreInformation">
	    <input message="agtkv:GetDataStoreInformationRequest"/>
	    <output message="agtkv:GetDataStoreInformationResponse"/>
    	</operation>
	<operation name="AddDir">
	    <input message="agtkv:AddDirRequest"/>
	    <output message="agtkv:AddDirResponse"/>
	</operation>
	<operation name="GetVersion">
	    <input message="agtkv:GetVersionRequest"/>
	    <output message="agtkv:GetVersionResponse"/>
	</operation>
	<operation name="GetStreams">
	    <input message="agtkv:GetStreamsRequest"/>
	    <output message="agtkv:GetStreamsResponse"/>
	</operation>
	<operation name="GetStreams3">
	    <input message="agtkv:GetStreams3Request"/>
	    <output message="agtkv:GetStreams3Response"/>
	</operation>
	<operation name="HDDump">
    	    <input message="agtkv:HDDumpRequest"/>
	    <output message="agtkv:HDDumpResponse"/>
	</operation>
	<operation name="GetDescById">
	    <input message="agtkv:GetDescByIdRequest"/>
	    <output message="agtkv:GetDescByIdResponse"/>
	</operation>
	<operation name="RemoveDir">
	    <input message="agtkv:RemoveDirRequest"/>
	    <output message="agtkv:RemoveDirResponse"/>
        </operation>
    	<operation name="GetDataSize">
	    <input message="agtkv:GetDataSizeRequest"/>
 	    <output message="agtkv:GetDataSizeResponse"/>
        </operation>


    </portType>

</definitions>
